body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Hamburger Menu */
.hamburger {
    z-index: 100;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: 1px solid black;
    background-color: #ff6347;
    cursor: pointer;
}

.closeIcon, .menu.active .hamburger {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #121212; /* Fondo oscuro */
    color: white;
    list-style: none;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Puedes cambiar esto a 'center' para menos espacio entre elementos */
}

.menu li {
    margin: 0.5rem 0; /* Ajusta el margen superior e inferior de cada elemento del menú */
}
.menu.active {
    transform: translateY(0);
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #ffcc00; /* Color de resaltado */
}

/* Main Content */
#maincontent {
    display: grid;
    height: 100vh; /* Cambiado de min-height a height */

    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 50px);
    background-color: #121212;
}

@media (max-width: 768px) {
    #maincontent {
        grid-template-columns: 1fr;
    }
}

.video-container, .map-container {
    position: relative;
    padding-bottom: 56.25%; /* Para una proporción de 16:9 */
    overflow: hidden;
    width: 100%;
}

.video-js, .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Action Menu */
#action_menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6347; /* Color de fondo naranja brillante */
    padding: 10px 20px;
    border-radius: 15px;
    z-index: 1000;
}

/* Action Menu Buttons */
#action_menu button {
    background-color: white;
    border: none;
    color: #ff4500;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#action_menu button:hover {
    background-color: #ff4500;
    color: white;
}
/* Estilos básicos para la página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del sidebar */
.bottom_sidebar {
    width: 100vh; /* Ancho del sidebar */
    height: 250px; /* Altura completa de la ventana */
    background-color: #f4f4f4; /* Color de fondo del sidebar */
    position: fixed; /* Posición fija para que no se mueva al scroll */
    top: 0; /* Alineado a la parte superior */
    left: 0; /* Alineado a la izquierda */
    z-index: 1000;
    background-color: transparent;
    position: relative;
}

/* Estilo del contenido principal */
.main-content {
    margin-left: 250px; /* Margen izquierdo igual al ancho del sidebar para evitar solapamiento */
    padding: 20px;
}

.rss-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
/* Estilos para la ventana modal principal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Estilos para la ventana modal de hover */
#hover-modal {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
/* Estilos para que el contenido se muestre inline y adaptado */
#hover-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#hover-content > * {
    margin-bottom: 0;
}